$bg: #6eabff;
$primary: #356cdf;
$ease-in-out: cubic-bezier(0.4, 0.0, 0.2, 1);

$card-attack: #9b1b1b;
$card-special: #751b9b;
$card-support: #1b6e9b;

$fade-white: rgba(255,255,255,.8);

$victorious: #2a7db5;
$defeated: #b52a2a;

$world-ratio: 1 / 1920 * 100vw;